   <!-- Required meta tags -->
   <head th:fragment="head-estilos">
    <meta charset="utf-8/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/0f48d8c00d.js"></script>
    <!--Fuente de google Raleway-->
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!--Libreria para efecto lighbox - ekko lightbox-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    
    
    
    <!-- Bootstrap core CSS -->
    <link th:src="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:src="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:src="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link src="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >

    <title>App Commerce</title>
    </head>