

<div th:fragment="menu-principal"  >
    <div class="card">

        <div class="card-header bg-dark text-white">
            <h4><i class="fas fa-align-justify"></i> Menú Principal</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="categorias.html">Categorías</a>
                    <span class="badge badge-primary badge-pill">10</span>
                </li>
                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="productos.html">Productos</a>
                    <span class="badge badge-primary badge-pill">200</span>
                </li>
                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="inventario.html">Inventario</a>
                    <span class="badge badge-primary badge-pill">500</span>
                </li>
                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="/pedidos.html" data-toggle="lightbox"
                        data-title="Productos en proceso de culminacion"
                        data-footer="GESTION DE EMPRESAS- UNSCH-2021">Pedidos </a>
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="/index.html" data-toggle="lightbox" data-title="render2web"
                        data-footer="GESTION DE EMPRESAS- UNSCH-2021">Cupones</a>
                    <span class="badge badge-primary badge-pill">20</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header bg-dark text-white">
            <h4><i class="fas fa-align-justify"></i> Administración</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="/usuarios.html">Diseñadores</a>
                </li>



                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="#">Inventario kamasca</a>
                </li>
                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="/ventas.html">Registro de ventas</a>
                </li>
                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="/clientes.html">Clientes</a>
                </li>
                <li
                    class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="/gestionarProducto.html">Material</a>
                </li>

            </ul>

        </div>
    </div>

</div>