<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Materiales</title>
</head>

<body>

    <!--Layout principal-->

    <div class="container col-sm-12 col-md-9">
        <div class="card">
            <div class="text-center card-header bg-dark text-white">
                <h2><i class="fas fa-shopping-card"></i> Materiales</h2>
            </div>
            <div class="container principal">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="row">
                            <!--tarjeta 1-->
                            <div class="col-lg-4 col-md-12 mb-4 p-3">
                                <div class="card-section border rounded ml-4 mr-4">
                                    <div class="card-header card-header-second rounded bg-secondary">
                                        <h2 class="card-header-title mb-3 mt-1 text-white">Banner Blackout
                                        </h2>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="/img/banner.jpg" width="300" height="300" alt="" class="img-fluid" />
                                        <h4 class="card-text">Gramaje: 11 onzas <br>
                                            1.1m x 50m</h4>


                                        <button type=" button" class="btn btn-success btn-lg" data-toggle="modal"
                                            data-target="#Modal2">
                                            Usar
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <!--tarjeta 2-->
                            <div class="col-lg-4 col-md-12 mb-4 p-3">
                                <div class="card-section border rounded ml-4 mr-4">
                                    <div class="card-header card-header-second rounded bg-secondary">
                                        <h2 class="card-header-title mb-3 mt-1 text-white">Banner Blackout</h2>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="/img/banner.jpg" width="300" height="300" alt="" class="img-fluid" />
                                        <h4 class="card-text">Gramaje: 11 onzas <br>
                                            1.6m x 50m</h4>

                                        <button type=" button" class="btn btn-success btn-lg" data-toggle="modal"
                                            data-target="#Modal2">
                                            Usar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--tarjeta 3-->
                            <div class="col-lg-4 col-md-12 mb-4 p-3">
                                <div class="card-section border rounded ml-4 mr-4">
                                    <div class="card-header card-header-second rounded bg-secondary">
                                        <h2 class="card-header-title mb-3 mt-1 text-white">Banner Blackout</h2>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="/img/banner.jpg" width="300" height="300" alt="" class="img-fluid" />
                                        <h4 class="card-text">Gramaje: 11 onzas <br>
                                            0.6m x 50m</h4>

                                        <button type=" button" class="btn btn-success btn-lg" data-toggle="modal"
                                            data-target="#Modal2">
                                            Usar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--tarjeta 4-->
                            <div class="col-lg-4 col-md-12 mb-4 p-3">
                                <div class="card-section border rounded ml-4 mr-4">
                                    <div class="card-header card-header-second rounded bg-secondary">
                                        <h2 class="card-header-title mb-3 mt-1 text-white">Banner Blackout</h2>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="/img/banner.jpg" width="300" height="300" alt="" class="img-fluid" />
                                        <h4 class="card-text">Gramaje: 11 onzas <br>
                                            1.3m x 50m</h4>
                                        <button type=" button" class="btn btn-success btn-lg" data-toggle="modal"
                                            data-target="#Modal2">
                                            Usar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--tarjeta 5-->
                            <div class="col-lg-4 col-md-12 mb-4 p-3">
                                <div class="card-section border rounded ml-4 mr-4">
                                    <div class="card-header card-header-second rounded bg-secondary">
                                        <h2 class="card-header-title mb-3 mt-1 text-white">Banner Blackout</h2>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="/img/banner.jpg" width="300" height="300" alt="" class="img-fluid" />
                                        <h4 class="card-text">Gramaje: 11 onzas <br>
                                            1.2m x 50m</h4>
                                        <button type=" button" class="btn btn-success btn-lg" data-toggle="modal"
                                            data-target="#Modal2">
                                            Usar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--tarjeta 6-->
                            <div class="col-lg-4 col-md-12 mb-4 p-3">
                                <div class="card-section border rounded ml-4 mr-4">
                                    <div class="card-header card-header-second rounded bg-secondary">
                                        <h2 class="card-header-title mb-3 mt-1 text-white">Banner Blackout
                                        </h2>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="/img/banner.jpg" width="300" height="300" alt="" class="img-fluid" />
                                        <h4 class="card-text">Gramaje: 11 onzas <br>
                                            1.4m x 50m</h4>
                                        <button type=" button" class="btn btn-success btn-lg" data-toggle="modal"
                                            data-target="#Modal2">
                                            Usar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--tarjeta 7-->
                            <div class="col-lg-4 col-md-12 mb-4 p-3">
                                <div class="card-section border rounded ml-4 mr-4">
                                    <div class="card-header card-header-second rounded bg-secondary">
                                        <h2 class="card-header-title mb-3 mt-1 text-white">Vinil Mate
                                        </h2>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="/img/vinilMate.jpg" width="300" height="300" alt=""
                                            class="img-fluid" />
                                        <br>
                                        <br>
                                        <br>
                                        <h4 class="card-text">Gramaje: 11 onzas <br>
                                            1.5m x 50m</h4>
                                        <button type=" button" class="btn btn-success btn-lg" data-toggle="modal"
                                            data-target="#Modal2">
                                            Usar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--tarjeta 8-->
                            <div class="col-lg-4 col-md-12 mb-4 p-3">
                                <div class="card-section border rounded ml-4 mr-4">
                                    <div class="card-header card-header-second rounded bg-secondary">
                                        <h2 class="card-header-title mb-3 mt-1 text-white">Vinil Glosy
                                        </h2>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="/img/vinilGlosy.jpg" width="300" height="300" alt=""
                                            class="img-fluid" />
                                        <h4 class="card-text">Gramaje: 11 onzas <br>
                                            1.5m x 50m</h4>
                                        <button type=" button" class="btn btn-success btn-lg" data-toggle="modal"
                                            data-target="#Modal2">
                                            Usar
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- modal -->
                    <div class=" modal fade" id="Modal2" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Medidas de uso</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="codigo" class="col-form-label">Ancho</label>
                                        <input type="text" class="form-control" id="codigo">
                                    </div>

                                    <div class="form-group">
                                        <label for="descripcion" class="col-form-label">Largo</label>
                                        <input type="text" class="form-control" id="descripcion">
                                    </div>
                                </div>

                                <div class="modal-footer">

                                    <button type="button" class="btn btn-success">Aceptar</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>